@import '~antd/dist/antd.css';


.APP{
    display: flex;
    aside{
        width:30%;
    }
}

.Post{
    width:70%;
    min-width:458.55px;
    display: flex;
    flex-direction: column;
    >div{
        display: flex;
        width:100%;
    }
    button{
        width:100%;
    }
}

.counter{
    width:calc(100%/3);
    >div{
        line-height: 100%;
        font-size: 20em;
        text-align: center;
    }
}
