@import '~antd/dist/antd.css';


.APP{
    display: flex;
    section{
        width:70%;
        display: flex;
        flex-direction: column;
        &>div{
            display: flex;
        }
        button{
            width:100%;
        }
    }
    aside{
        width:30%;
    }
}
.counter{
    width:100/3+%;
    &>div{
        line-height: 100%;
        font-size: 20em;
        text-align: center;
    }
}
