@import '~antd/dist/antd.css';

.APP{
    display: flex;
    width:80vmin;
    margin:auto;
    aside{
        width:40%;
    }
}

.Post{
    width:60%;
    display: flex;
    flex-direction: column;
    h1{
        font-weight: bold;
    }
    section{
        ul{
            padding:0 0 0 20px;
            span{
                color:red;
            }
        }
    }
    >p{
        span{
            font-weight: bold;
            font-size:2em;
        }
    }
    >div{
        display: flex;
        width:100%;
    }
    button{
        width:100%;
    }
}

.counter{
    width:calc(100%/3);
    >div{
        line-height: 100%;
        font-size: 30vmin;
        text-align: center;
    }
}
